@import '../../variables.scss';

$radius: 5px;

.container{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-between;

	border: 1px solid $grey;
	border-radius: $radius;

	padding: 10px;
	margin: 10px;

	transition: all 0.1s ease-out;
}
.container:hover{
	cursor: pointer;
}
.null{
	background-color: $grey !important;
}
.null *{
	color: lighten($fontBlack, 25%) !important;
}
.texts{
	display: flex;
	flex-flow: column;
}
.name{
	margin: 0;
	font-size: 14px;
	font-weight: 600;
}
.employees{
	display: flex;
	flex-flow: row nowrap;
	font-size: 12px;
}
.employees span{
	padding-right: 4px;
}
.employees h4{
	margin: 0;
}

.score{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.index{
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	margin-bottom: -4px;
}
.indexChange{
	width: fit-content;
	display: flex;
	align-items: flex-end;
}
.indexChange h4{
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	display: none;
}	
.arrow{
	width: 25px;
	height: auto;
	object-fit: contain;
}
.indexChangeNull{
	display: none !important;
}

/* expanded styles */
.expanded{
	flex-flow: column wrap;
	align-items:flex-start;
	justify-content: flex-start;
}

.expanded .score{
	margin: 10px auto;
}

.expanded .indexChange{
	align-items: center;
}

.expanded .arrow{
	width: 20px;
}

.expanded .indexChange h4{
	display: block;
}

.expanded .index{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 80px;
	height: 80px;

	color: white;

	margin: 5px;

	border-radius: 100%;
	background-color: lightgreen;
}