@import '../../variables.scss';

$radius: 5px;
$padding: 10px;
$margin: 10px;

$expandedScorePadding: 10px;

.container{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;

	border: 1px solid $grey;
	border-radius: $radius;

	padding: $padding;
	margin: $margin;

}
.container *{
	transition: all 0.1s ease-out;
}
.container:hover{
	cursor: pointer;
}
.null{
	background-color: $grey !important;
}
.null *{
	color: lighten($fontBlack, 25%) !important;
}
.texts{
	display: flex;
	flex-flow: column;
}
.name{
	margin: 0;
	font-size: 14px;
	font-weight: 600;
}
.employees{
	display: flex;
	flex-flow: row nowrap;
	font-size: 12px;
}
.employees span{
	padding-right: 4px;
}
.employees h4{
	margin: 0;
}

.score{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: flex-end;

	margin-left: auto;
}
.index{
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	margin-bottom: -4px;
}
.indexChange{
	width: fit-content;
	display: flex;
	align-items: flex-end;
}
.indexChange h4{
	margin: 0;
	font-weight: 600;
	font-size: 10px;
	display: none;
}	
.arrow{
	width: 25px;
	height: auto;
	object-fit: contain;
}
.indexChangeNull{
	display: none !important;
}
.responseRate{
	display: none;
	width: calc(100%);
	align-items: flex-end;
	margin-left: -$margin;
	//border-top: 1px solid $grey;
	padding: 10px;
	padding-bottom: 0;
}

.responseRate span{
	font-weight: 400;
	font-size: 12px;
}
.responseRate h4{
	margin: 0;
	font-size: 12px;
}
.responseRateDot{
	width: 100%;
	align-self: flex-start;
}
.responseRateDot div{
	width: 5px;
	height: 5px;
	margin-right: -5px;
	margin-top: -5px;
	margin-left: auto;

	border-radius: 100%;
	background-color: #FB765E;
}

/* expanded styles */
.expanded{
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.expanded .texts{
	padding-bottom: 10px;
}

.expanded .score{
	width: 100%;
	justify-content: center;
	padding: $expandedScorePadding;
	padding-bottom: $expandedScorePadding + 10;
	margin-left: -$expandedScorePadding;
}

.expanded .indexChange{
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-top: -20px;
}

.expanded .arrow{
	width: 18px;
}

.expanded .indexChange h4{
	display: block;
}

.expanded .index{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 80px;
	height: 80px;

	color: white;

	margin: 5px;
	margin-left: -13px;

	border-radius: 100%;
}
.expanded .responseRate {
	display: flex;
	justify-content: space-between;
}

.expanded .responseRateDot{
	
}